<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="asr()">
        <ion-icon name="mic-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="tts()">
      <ion-icon name="ear-outline"></ion-icon>
    </ion-button>
      <ion-button (click)="addMLNotes()">
        <ion-icon name="images-outline"></ion-icon>
    </ion-button>
      <ion-button (click)="deleteNote()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea (input)="noteChanged()" autoGrow="true" [(ngModel)]="note.content" placeholder="..."></ion-textarea>
</ion-content>
